body{
    margin:0;
    padding:0;
    background: #eee;
}
.sign-up{
    margin: 5em;
    width:50%;
    left:20%;
}
nav.navigation,footer.page-footer{
    background-color: #33b5e5 !important;
}
footer
{
    bottom:0;
}
nav.navigation a.navbar-brand
{
    font-weight:900;
    padding:0 2em;
    font-size:24px;
}